@import "tailwindcss";

@theme {
  /* Green Palette - Primary Colors */
  --color-primary: #5E8844;
  --color-primary-light: #43622F;
  --color-secondary: #293E1C; /*#5E8844;*/
  --color-secondary-light: #7BB05A;
  --color-accent: #99DA71;
  --color-accent-purple: #9B51E0;
  --color-neutral-slate: #334155;
  --color-neutral-white: #F8FAFC;
  --color-neutral-charcoal: #1E293B;
  --color-highlight: #D8FBC8;
  
  --font-sans: var(--font-questrial), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:root {
  --background: #F8FAFC;
  --foreground: #1E293B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E293B;
    --foreground: #F8FAFC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
